// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

busy-signal {
  font-family: 'Octicons Regular';
  -webkit-font-smoothing: antialiased;
  &.idle {
    color: @text-color-success;
  }
  &.busy {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    color: @text-color-warning;
  }
}
